@import "./../../../common/common.less";



.content-container{
	@border-col: rgb(220, 220, 220);
	@search-h: 210px;
	width: 720px;
	margin: 50px auto;
	&>div{
		display: inline-block;
	}
	.agency-details{
		width: 100%;
		height: 280px;
		background: @table-bg;
	}
	.agency-form{
		margin-top: 15px;
		width: 100%;
		height: 320px;
		background: @table-bg;
	}
}