@import "./../../../common/common.less";


.content-container{
	@border-col: rgb(220, 220, 220);
	@search-h: 210px;
	width: 720px;
	margin: 50px auto;
	font-weight: bolder;
	.agency-details{
		width: 100%;
		height: 280px;
		letter-spacing: 1px;
		background: @table-bg;
		margin-top: 40px;
		.details-table{
			width: 100%;
			height: 100%;
			.details-head{
				text-align: center;
				font-size: 18px;
				height: 40px;
			}
			.details-tr{
				height: 24px;
				.details-title{
					width: 200px;
					text-align: right;
				}
				.details-content{
					padding-left: 10px;
					color: @tips-color;
					.plate-col{
						display: inline-block;
						padding: 0px 5px;
					}
					&>label{
						cursor: pointer;
					}
				}
			}
			.details-blank{
				height: 10px;
			}
		}
	}
	.agency-form{
		margin-top: 15px;
		width: 100%;
		height: 320px;
		background: @table-bg;
		display: none;
		.form-table{
			display: table;;
			width: 100%;
			height: 100%;
			.agency-table-head{
				width: 100%;
				height: 40px;
				text-align: center;
				color: white;
				font-weight: bolder;
				line-height: 14px;
				background: @table-head-bg;
			}
			.table-blank{
				height: 12px;
			}
			.table-content{
				height: 50px;
				.content-title{
					width: 200px;
					text-align: right;
				}
				.content-input{
					input{
						margin-left: 10px;
						height: 14px;
						line-height: 14px;
						padding: 13px 0px 13px 8px;
						width: 330px;
						border: 1px solid @table-head-bg;
					}
				}
			}
			.agency-form-tips{
				height: 60px;
				text-align: center;
				.tips-title{
					color: @tips-color;
				}
				&>td{
					color: rgb(122, 122, 122);
				}
			}
		}
	}
	.agency-btn-wrapper{
		width: 100%;
		margin: 16px auto;
		text-align: center;
		.submit-btn{
			margin: 0px 20px;
			width: 200px;
			display: inline-block!important;
		}
		.agency-btn{
		}
		.agency-btn-cancel{
		}
	}
}

#express{
	margin-left: 30px;
}




