.login-footer{
	padding: 40px 0px;
	color: rgb(150, 150, 150);
	background: rgb(240, 240, 240);
	.footer-words{
		line-height: 20px;
		font-size: 12px;
		text-align: center;
		span{
			padding: 0px 20px;
		}
	}
}