
ul {
	padding: 0px;

	li {
		list-style: none;
	}
}

a {
	&:hover {
		text-decoration: none;
	}
}

#left-nav {
	float: left;
	width: 270px;
	margin-left: 10px;
}

#right-content {
	float: left;
	width: 950px;
	padding-left: 50px;
}

.left-nav {
	width: 270px;
	text-align: center;
}

.clear {
	clear: both;
}