.violation-search{
	.input-wrapper{
		margin-top: 24px !important;
	}
	.input-title{
		width: 120px !important;
		float: left;
	}
	.plate-num{
		width: 130px !important;
	}
	.inputs{
		float: left !important;
		width: 220px !important;
	}
	.input-btn{
		margin-top: 36px !important;
	}
}