@import "./../../../common/common.less";
.violation-search{
	.input-wrapper{
		margin-top: 24px !important;
	}
	// .input-title{
	// 	width: 120px !important;
	// 	float: left;
	// }
	// .plate-num{
	// 	width: 130px !important;
	// }
	// .inputs{
	// 	float: left !important;
	// 	width: 220px !important;
	// }
	.input-btn{
		margin-top: 36px !important;
	}
}
.violation-records{
	margin-top: 20px;
	.tb-head{
		th{
			line-height: 14px !important;
			font-size: 14px !important;
		}
	}
	.tb-tr{
		height: 54px !important;
	}
}
.cars-results{
	width: 100%;
	.inline-block();
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-weight: bolder;
	margin-top: 40px;
	border: 1px solid @border-col;
	.stress{
		font-size: 16px;
		color: @blue;
	}
}