

@nav-bg: rgb(45, 124, 223);
@nav-width: 120px;

@font-color: rgb(191, 191, 191);
@header-height: 60px;
@blue: rgb(44, 124 ,223);
@table-bg: rgb(247, 247, 246);
@table-head-bg: rgb(152, 153, 147);
@tips-color: rgb(20, 80, 130);
@border-col: rgb(220, 220, 220);

@footer-height: 68px;
@footer-words-margin-top: 24px;

.a-color(@color: rgb(56, 56, 56)){
	color: @color;
	&:link, &:visited, &:active{
		color: @color;
	}
}
.container(@width: 1000px){
	width: @width;
	height: auto;
	margin: 0px auto;
}
.inline-block(){
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.inline-btn(@width: 130px, @height: 30px){
	width: @width;
	height: @height;
	.inline-block();
	line-height: @height;
	text-align: center;
	background: @blue;
	color: rgb(255, 255, 255);
	.a-color(rgb(255, 255, 255));
}