
@import "./common.less";

#wrapper{
	margin: 0px auto;
	width: 1024px;
	min-height: 100%;
}

.header{
	float: left;
	width: 100%;
	height: @header-height;
	background: rgb(255, 255, 255);
	// background: rgb(41, 36, 23);
	.logo{
		width: auto;
		height: 100%;
		float: left;
		margin-left: 10px;
		.logo-wrapper{
			height: @header-height;
			li{
				height: auto;
				float: left;
				font-size: 16px;
				font-weight: bolder;
				display: inline-block;
				line-height: 45px;
				span{
					padding: 0px 15px;
					color: @font-color;
				}
				img{
					width: 118px;
					height: 44px;
					margin-top: 10px;
				}
			}
			.header-logo-title{
				span{
					// display: inline-block;
					width: 100%;
					// height: auto;
					border-left: 1px solid @font-color;
				}
			}
		}
	}
	.header-menu{
		float: left;
		margin-top: 8px;
		margin-left: 20px;
		.header-menu-item{
			position: relative;
			float: left;
			margin: 10px 5px;
			a{
				display: block;
				.a-color(rgb(130, 130, 130));
				padding: 10px 15px;
				font-weight: bolder;
			}
			.item-underline{
				width: 100%;
				position: absolute;
				bottom: -8px;
				left: 0px;
				height: 2px;
				background: @blue;
				display: none;
			}
		}
		.active{
			color: white;
			background: @blue;
			a{
				.a-color(rgb(255, 255, 255));
			}
			.item-underline{
				display: block;
			}
		}
	}
	.header-btns-wrapper{
		height: @header-height;
		float: right;
		margin-right: 30px;
		li{
			line-height: @header-height;
			height: @header-height;
			float: left;
			img{
				width: 110px;
				height: 24px;
				margin-top: 18px;
			}
			a{
				padding: 0px 10px;
				.a-color(@font-color);
				font-weight: bolder;
			}
		}
		.header-btns{
			a{
				display: inline-block;
				height: 16px;
				line-height: 16px;
				margin-top: 26px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.btns-last{
			a{
				border-left: 1px solid @font-color;
			}
		}
	}
}
.body-content{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: @blue;
	.right-content{
		width: 904px;
		overflow: hidden;
		// padding-left: @nav-width;
		float: left;
		background: rgb(245, 244, 242);
		height: auto;
		min-height: 600px;
		padding: 40px 0px;
		.content-box{
			width: 820px;
			margin: 0px auto;
			background: rgb(255, 255, 255);
			overflow: hidden;
		}
	}
}
