
@import "./common.less";

#wrapper{
	margin: 0px auto;
	width: 1280px;
	// min-height: 100%;
	padding-bottom: @footer-height;
}

.body-content{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: @blue;
	// min-height: 666px;
	.right-content{
		margin: 0px auto;
		// width: 904px;
		overflow: hidden;
		// float: left;
		background: #f7f7f7;
		height: auto;
		min-height: 700px;
		.content-box{
			width: 1000px;
			margin: 40px auto;
			background: rgb(255, 255, 255);
			overflow: hidden;
		}
	}
}
